@font-face {
    font-family: "TajL";
    src: url("/fonts/Tajawal-Regular.ttf");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "TajM";
    src: url("/fonts/Tajawal-Medium.ttf");
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: "TajB";
    src: url("/fonts/Tajawal-Bold.ttf");
    font-weight: 700;
    font-style: normal;
  }